.container-full{
  background-image:url('../image/first.jpg');
  background-size:cover;
  padding-top:20%;
}
.text{
  text-align: center;
  color:white;
  padding:100px 200px 300px 200px;
  height: 200px;
  display: block;
  margin-top:20px;
}
.About-Us{
  text-align: center;
  color:Black;
}
.services{
  background-image:url('../image/second.jpg');
}
.info{
  text-align: center;
  color:white;
  top:200%
}
@media only screen and (min-width:40cm)
.my-text{
  height:500px;
}
