.container-full{
  background-image:url('../image/background/first.jpg');
  background-size:cover;
}
#logo{
  margin-left:600px;
  padding-top:200px;
  padding-bottom:45px;
}
#header1{
  text-align:center;
  color:white;
  padding-bottom:30px;

}
#header2{
    text-align:center;
    color:white;
    padding-bottom:1px;
    display: block;
}
#paragraph{
  text-align:center;
  color:white;
  padding-bottom:150px;
}
#mouse{
  margin-left:620px;
  padding-bottom:20px;
}
.About-Us{
  text-align: center;
  color:Black;
  padding-bottom:70px;
  padding-top:70px;
}
.services{
  background-image:url('../image/background/second.jpg');
}
.info{
  text-align: center;
  color:white;
  padding-bottom:70px;
  padding-top:70px;
}
.description{
  text-align: center;
  color:black;
}
.row{
  /* image:center; */
}
@media only screen and (min-width:40cm)
.my-text{
  height:500px;
}
