body {
  margin: 0px;
  overflow-x: hidden;
}

.container-full {
  background-image: url("../image/background/first.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#logo {
  padding-top: 220px;
}

#mouse {
  padding-top: 100px;
}

#bounce {
  animation: bounce 3s infinite;
}

.About-Us {
  text-align: center;
  color: Black;
  padding-bottom: 50px;
  padding-top: 50px;
}

.services {
  background-image: url("../image/background/second.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#icons {
  margin-top: 30px;
}

.info {
  padding-top: 100px;
  padding-bottom: 100px;
}

#description {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

/* .contact {
  text-align: center;
} */

#info3 {
  display: none;
}

#info4 {
  display: none;
}

#info5 {
  display: none;
}

#info4 p {
  font-size: 17px;
}


.myportfolio {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-us {
  background-image: url('../image/contacts/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-us {
  text-align: center;
  color: white;
  padding-top: 30px;
}

/* .contact-us h1 {
  padding-top: 20px;
} */

/* .form-inline {
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
} */

/* .inputs {
  margin-bottom: 25px;
  display: flex;
}

.inputs2 {
  margin-bottom: 25px;
} */

.form-control {
  background-color: #66000000;
}

input::placeholder {
  color: #ffffff;
}

/* .first {
  margin: 0 4px 0 0;
} */

.footer {
  text-align: center;
  margin-top: 30px;
}

#transparency {
  margin-bottom: 50px;
  margin-top: 20px;
}
